.article-div {
    box-sizing: border-box;
    padding: 1.5%;
    width: 58%;
    border-radius: 10px;
    height: fit-content;
    background: rgb(192, 206, 251);
    margin-bottom: 20px;
}

.article-image {
    display: block;
    margin: auto;
}

header {
    margin: 10px;
}